body
{
    background-color: #4d4444;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
table
{
    text-align: center;
}
table.transaction
{
    min-width: 80%;
}
a
{
    color: #ffc000;
}
a:hover
{
    color: #ff0000;
}