{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <br>
    Specify the amount and price for the bought {{ cid }}
    <form action="/add_coin" method="post">
        <input type="hidden" name="pid" value="{{ pid }}">
        <input type="hidden" name="cid" value="{{ cid }}">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="amount" placeholder="amount" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="price" placeholder="price" type="text">
        </div>
        <button class="btn btn-primary" type="submit">add</button>
    </form>
{% endblock %}
