{% extends "base.html" %}


{% block title %}
- Test
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
    <br>
    <table>
        <thead>
            <th style="width: 25px;"> </th>
            <th style="width: 300px;">coin</th>
            <th style="width: 75px;">price</th>
            <th style="width: 75px;">24h</th>
            <th style="width: 125px;">market cap</th>
        </thead>
        <tbody>
            {% if coins %}
                {% for coin in coins %}
            <tr>
                <td><img src="{{ coin.image }}" width="15" height="15"></td>
                <td style="text-align: left;">{{ coin.name }} ( {{ coin.symbol }} )</td>
                <td>{{ coin.current_price }}</td>
                {% if coin.price_change_percentage_24h >= 0 %}
                <td style="text-align: right; color: green">{{ (coin.price_change_percentage_24h | float) | round(2) }}%</td>
                {% else %}
                <td style="text-align: right; color: red">{{ (coin.price_change_percentage_24h | float) | round(2) }}%</td>
                {% endif %}
                <td style="text-align: right;">{{ coin.market_cap }}</td>
            </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endif %}
        </tbody>
    </table>

{% endblock %}